body {
    background: url(IMG_8557.JPG);
    background-size: 2000px;
    
}
.rounded float-left

.navbar-brand {
    font-size: 35px;
}
.nav-link {
    font-size: 30px;
}
/* .lead{ 
    font-size: 45px;
}
.lead1{
    font-size: 30px;
}
.h1{
    font-size: 30;
} */
