body {
    background: url(IMG_8557.JPG);
    background-size: 2000px;
    
}
#nav {
    font-size: 40px;
}
.lead1 {
    font-size: 30px;
}
.lead2{
    font-size: 30px;
}
.rounded float-left

.navbar-brand {
    font-size: 1px;
}
.nav-link {
    font-size: 30px;
}
#cantext {
    color: antiquewhite;
}
#hsimg {
    padding-right: 3px;
}
.page-footer {
    left: 0;
    bottom: 0;
    width: 33%;
    background-color: red;
    color: white;
    text-align: center;
 }