body {
    background: url(IMG_8557.JPG);
    background-size: 1900px;
   
}
#nav {
    font-size: 40px;
}
.lead1 {
    font-size: 30px;
}
.lead2{
    font-size: 30px;
}
.navbar-brand {
    font-size: 1px;
}
.nav-link {
    font-size: 30px;
}
#cantext {
    color: antiquewhite;
}
 Footer {
     color:antiquewhite;
     font-size: 20px;
     
 }
 .copy {
     padding-top: 20px;
 }
