body {
    background: black;
    background-size: 1900px;
   
}
#nav {
    font-size: 40px;
}
.lead1 {
    font-size: 30px;
}
.lead2{
    font-size: 30px;
}
.navbar-brand {
    font-size: 1px;
}
.nav-link {
    font-size: 30px;
}
#cantext {
    color: antiquewhite;
}
 Footer {
     color:black;
     font-size: 20px;
     
 }
 .copy {
     padding-top: 20px;
 }
 
 #whatNext {
     float: center;
 }
 #pfopentext{
     color: white;
 }
 
 
 /* swiper css starts here */

